@import '_variables';

.bg-primary,
.btn-primary {
    background-color: $color-primary !important;
}

.bg-secondary,
.btn-secondary {
    background-color: $color-secondary !important;
}

.bg-light {
    background-color: $color-light !important;
}

.table-dark,
.bg-dark {
    background-color: $color-dark !important;
}

.table-dark.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0, 0, 0, 0.08);
}
