@using System.Linq;
@using Umbraco.Core;
@using BudgetPlannerV2.Cms.Extensions;

@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var usefulLinks = UmbracoContext.GetPublishedContentByType("link");
    
    object id = 0;
    Guid key = Guid.Empty;
    var isValid = Model.MacroParameters.TryGetValue("id", out id) 
        && id != null && Guid.TryParse(id.ToString().Replace("umb://document/", string.Empty), out key);
    
}

@if (isValid)
{
    foreach (var contentItem in usefulLinks.Where(a => a.Key == key))
    {
        @Umbraco.RenderTemplate(contentItem.Id)
    }
}
else
{
    <span>Invalid Key</span>
}